<!-- <h1>{{ title | titlecase }}</h1>
<h1>{{ title | uppercase }}</h1>
<h1>{{ title | lowercase }}</h1>
<h1>{{ title | json }}</h1>

<p>{{ arrUsers | sort : "age" | json }}</p>

<a [title]="linkTitle" href="">Link</a>

<p class="par">Style</p>
<p style="color: red">Style</p>
<p [style]="inlineStyle">Style</p>

<button [style.color]="color" (click)="changeColor('yellow')">Button</button>
<p [style.color]="color">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, in.
</p>

<input
  type="text"
  (input)="checkCurrentValue($event)"
  (keydown.shift)="this.color = 'pink'"
/> -->

<!-- <app-child
  [childColor]="color"
  [name]="parentName"
  (nameChange)="setNewName($event)"
></app-child> -->
<!-- <app-child [(name)]="parentName"></app-child>
<p>Name parent {{ parentName }}</p>

<button (click)="setNewName('імя задане за допомогою батька')">
  parent button
</button> -->
<!-- <app-child>
  <p style="background-color: aqua">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum,
    exercitationem?
  </p>
  <div style="background-color: salmon" someAttribute>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, molestiae?
  </div>
  <article style="background-color: darkblue" class="css-class">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, natus.
  </article>
  <div class="css-span">
    <span>Lorem ipsum dolor sit amet.</span>
  </div>
</app-child> -->

<!-- <p>first paragraph</p>
<ng-template #tm>
  <p>paragraf in template</p>
</ng-template>
<p>second paragraph</p>

<ng-container *ngTemplateOutlet="tm"></ng-container> -->

<!-- <p>first paragraph</p>
<ng-container
  *ngTemplateOutlet="
    tmpl;
    context: { $implicit: 'Hello', some: 'world', a: '!' }
  "
></ng-container>
<p>second paragraph</p>

<ng-template #tmpl let-text let-some="some" let-a="a">
  <p>paragraph in template</p>
  <p>{{ text }}</p>
  <p>{{ some }}{{ a }}</p>
</ng-template> -->

<!-- <p *ngIf="togle; else text">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, reiciendis!
</p> -->

<!-- <button (click)="toggler = !toggler">BTN Toggler</button> -->

<!-- <ng-template #text>Text from ng-template</ng-template> -->

<!-- <p *ngIf="toggler">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, reiciendis!
</p>

@if (toggler) {
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, reiciendis!
</p>
} -->

<!-- <ng-template #second>Text from second ng-template</ng-template>
<ng-template></ng-template> -->

<!-- <div *ngFor="let item of arr; let evenItem = even; let currentIndex = index">
  <span *ngIf="evenItem">{{ item }} </span>
  <span>{{ currentIndex }} </span>
</div> -->

<!-- 
<div *ngFor="let item of arr" [ngSwitch]="item">
  <i *ngSwitchCase="1">{{ item }}</i>
  <b *ngSwitchCase="true">{{ item }}</b>
  <span *ngSwitchDefault>{{ item }}</span>
</div> -->

<!-- <ng-container *ngIf="true">
  <div *ngFor="let item of arr" [ngSwitch]="item">
    <i *ngSwitchCase="1">{{ item }}</i>
    <b *ngSwitchCase="true">{{ item }}</b>
    <span *ngSwitchDefault>{{ item }}</span>
  </div>
</ng-container> -->

<!-- <p *ngIf="arr?.[3]">Є елемент в масиві з таким індексом {{ arr[3] }}</p> -->

<!-- <ng-container *ngIf="obj.first.second.third as user">
  <p>Name: {{ user.name }}</p>
  <p>Age: {{ user.age }}</p>
</ng-container>

<div *ngFor="let item of arr; even as evenItem; index as currentIndex">
  <span *ngIf="evenItem">{{ item }} </span>
  <span>{{ currentIndex }} </span>
</div> -->

<!-- <p [ngClass]="{ 'red-style': true, color: false }">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum soluta
  recusandae minus officiis, optio, blanditiis, tenetur illo necessitatibus non
  facilis ex dolor earum ipsum ipsa dicta accusamus voluptates eligendi dolorum.
</p>

<p [ngStyle]="{ background: 'darkblue', color, 'font-size.px': 20 }">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit doloribus,
  autem fugit sed doloremque voluptas id cupiditate illum laborum nostrum, sint
  ducimus repudiandae. Reiciendis, minus sit! Accusamus, nulla eos.
</p> -->

<!-- @if(toggler) {
<app-child [title]="title" [name]="name"></app-child>
} -->

<p #paragraph>simple text</p>

<ng-template #template>text from ng-template</ng-template>

<app-child #child>text from child component</app-child>
